

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a id="evo-tittle" class="navbar-brand" href="/">
				<div id="div-logo">
					<%= image_tag("logo_evo_small.png", :alt => "Evoluir", :id => "logo") %>
				</div>
				<div id="div-desc">
					EVO
				</div>
			</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav">
				<li class="active"><%= link_to "Home", oficina_path, :method => :get %></li>
				<li><%= link_to "About", oficina_about_path, :method => :get %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a onclick="teste()">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">

	<div class="container">
		<div class="row">
			<form id='form_des'>
				<table id="listGraphos" class="table table-striped table-hover">
			      		<caption><h3>Lista de Grafos Disponíveis</h3></caption>
				      	<thead>
				        		<tr>
				          			<th id="id">#</th>
				          			<th>Grafo</th>
				          			<th>Navigation</th>
				        		</tr>
				      	</thead>
				      	<tbody>
				        		<tr id='1'>
				          			<th id="id" scope="row">1</th>
				          			<td>http://computacao.ufpel.ebu.br</td>
				        			<td id="id"   onclick="navigation()"><%= image_tag("boat-3.png", :alt => "Evoluir", :id => "icon") %></td>
				        		</tr>
				        		<tr id='2'>
				          			<th id="id" scope="row">2</th>
				          			<td>http://gaci.com</td>
				        			<td id="id"  onclick="navigation()"><%= image_tag("boat-3.png", :alt => "Evoluir", :id => "icon") %></td>
				        		</tr>
				        		<tr id='3'>
				          			<th id="id" scope="row">3</th>
				          			<td>http://laburb.com</td>
				        			<td id="id"  onclick="navigation()"><%= image_tag("boat-3.png", :alt => "Evoluir", :id => "icon") %></td>
				        		</tr>

				        		<tr id='4'>
				          			<th id="id" scope="row">4</th>
				          			<td>http://peil.com</td>
				          			<td id="id"  onclick="navigation()"><%= image_tag("boat-3.png", :alt => "Evoluir", :id => "icon") %></td>
				        		</tr>
					</tbody>
				</table>
				<div class="form-group">
		    			<label for="label-graph">Grafo</label>
					<input type="text" class="form-control" id="graph" placeholder="Digite o grafo em que deseja aplicar a desambiguação. Ex: http://lattes.edu.br">
		  		</div>
		  		<br>
		  		<h3 class='text-center'>Clusterização</h3>
		  		<br>
		  		<div class='row'>
		  			<form class="form-inline">
						<div class='col-xs-4'>
							<label for="rules" class="control-label" style="padding:6px 12px;">Critério</label>
						</div>
						<div class='col-xs-4'>
							<select class="form-control control-label" id="rules" style='width:250px;'>
				    				<option>Selecione o critério</option>
								<option value='1'>Nome do Autor</option>
							  	<option value='2'>Nome do Artigo</option>
							  	<option value='3'>Nome do Artigo e Ano</option>
							</select>
						</div>
					</form>
		  		</div>
				<br>

				<h3 class='text-center'>Parâmetros</h3>
				<hr>
				<div class='row'>
					<form class="form-inline">
						<div class='col-xs-4'>
							<label for="name_author" class="control-label" style="padding:6px 12px;">Nome do Autor</label>
						</div>
						<div class='col-xs-4'>
							<select class="form-control control-label" id="name_author" style='width:250px;'>
				    				<option>Selecione o peso</option>
								<option>1</option>
							  	<option>2</option>
							  	<option>3</option>
							  	<option>4</option>
							  	<option>5</option>
							  	<option>6</option>
							  	<option>7</option>
							  	<option>8</option>
							  	<option>9</option>
							  	<option>10</option>
							</select>

						</div>
						<div class='col-xs-4' >
							<input type="number" step="0.01" class="form-control" id="name_author_lev" placeholder="Distância de Levesthein Ex: 0,02 => 2%" style="width:340px;">
						</div>
					</form>
				</div>

				<br>

				<div class='row'>
					<form class="form-inline">
						<div class='col-xs-4'>
							<label for="name_article" class="control-label" style="padding:6px 12px;">Nome do Artigo</label>
						</div>
						<div class='col-xs-4'>
							<select class="form-control control-label" id="name_article" style='width:250px;'>
				    				<option>Selecione o peso</option>
								<option>1</option>
							  	<option>2</option>
							  	<option>3</option>
							  	<option>4</option>
							  	<option>5</option>
							  	<option>6</option>
							  	<option>7</option>
							  	<option>8</option>
							  	<option>9</option>
							  	<option>10</option>
							</select>

						</div>
						<div class='col-xs-4' >
							<input type="number" step="0.01" class="form-control" id="name_article_lev" placeholder="Distância de Levesthein Ex: 0,02 => 2%" style="width:340px;">
						</div>
					</form>
				</div>

				<br>

				<div class='row'>
					<form class="form-inline">
						<div class='col-xs-4'>
							<label for="name_conference" class="control-label" style="padding:6px 12px;">Nome da Conferência</label>
						</div>
						<div class='col-xs-4'>
							<select class="form-control control-label" id="name_conference" style='width:250px;'>
				    				<option>Selecione o peso</option>
								<option>1</option>
							  	<option>2</option>
							  	<option>3</option>
							  	<option>4</option>
							  	<option>5</option>
							  	<option>6</option>
							  	<option>7</option>
							  	<option>8</option>
							  	<option>9</option>
							  	<option>10</option>
							</select>

						</div>
						<div class='col-xs-4'>
							<input type="number" step="0.01" class="form-control" id="name_conference_lev" placeholder="Distância de Levesthein Ex: 0,02 => 2%"  style="width:340px;">
						</div>
					</form>
				</div>

				<br>

				<div class='row'>
					<form class="form-inline">
						<div class='col-xs-4'>
							<label for="year" class="control-label" style="padding:6px 12px;">Ano do Artigo</label>
						</div>
						<div class='col-xs-4'>
							<select class="form-control control-label" id="year" style='width:250px;'>
				    				<option>Selecione o peso</option>
								<option>1</option>
							  	<option>2</option>
							  	<option>3</option>
							  	<option>4</option>
							  	<option>5</option>
							  	<option>6</option>
							  	<option>7</option>
							  	<option>8</option>
							  	<option>9</option>
							  	<option>10</option>
							</select>
						</div>
					</form>
				</div>

				<br>

				<div class='row'>
					<form class="form-inline">
						<div class='col-xs-4'>
							<label for="rank" class="control-label" style="padding:6px 12px;">Ranking do Autor</label>
						</div>
						<div class='col-xs-4'>
							<select class="form-control control-label" id="rank" style='width:250px;'>
				    				<option>Selecione o peso</option>
								<option>1</option>
							  	<option>2</option>
							  	<option>3</option>
							  	<option>4</option>
							  	<option>5</option>
							  	<option>6</option>
							  	<option>7</option>
							  	<option>8</option>
							  	<option>9</option>
							  	<option>10</option>
							</select>

						</div>
					</form>
				</div>

				<br>
				<hr>
				<br>
		  		<div class="form-group" style="margin-top:px;margin-bottom:50px;">
		    			<label for="">Nivel de Desambiguação</label>
		    			<select class="form-control col-xs-2" id="vd" >
		    				<option>Selecione nível</option>
						<option>1</option>
					  	<option>2</option>
					  	<option>3</option>
					  	<option>4</option>
					  	<option>5</option>
					  	<option>6</option>
					  	<option>7</option>
					  	<option>8</option>
					  	<option>9</option>
					  	<option>10</option>
					</select>
				<div class="form-group">

			</form>
			<hr>
			<div class="col-xs-12 text-center" style="margin-top:40px; margin-bottom:30px;">
				<p class="help-block">Para desambiguar basta clicar, lembrando que este processo pode demorar um pouco.</p>
				<button  class="btn btn-success" onclick="sendForm()">Desambiguar</button>
			</div>
		</div>
	</div>


	<div id="results" class="row">

	</div>

</div>

<%= app_footer %>

<div  id="aviso" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="aviso_titulo">Modal title</h4>
			</div>
			<div class="modal-body" style="margin-top: 10px;margin-bottom: 10px;padding-top: 10px;padding-bottom: 40px">
				<div class="col-lg-1">
					<i id="icone" class="fa fa-info-circle fa-3x"></i>
				</div>
				<div class="col-lg-11" style="margin-top: 10px">
					<p id="aviso_mensagem"> One fine body&hellip;</p>
				</div>
			</div>
			<div class="modal-footer">
				<button id="aviso_botao" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Certo</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>



<script>

	var rows = document.getElementById("listGraphos").rows;
	if (rows != 0) {
	    	for (var i = 0; i < rows.length; i++) {
	        		rows[i].onclick = function() {
	            			if(this != ''){
	            				document.getElementById("graph").value = $(this).closest('tr').children('td').text();
	            			}
	        		};
	    	}
	}

	function navigation(){
		var str;
		var a;
		str = document.getElementById("graph").value;
		if(str != ''){
			a = str.split(":");
			console.log(a);
			location.href="/oficina/navigation?graph0="+a[0]+"&graph1="+a[1];
		}
	}



	function sendForm(){

		if(validate() == 1 ){
			$.ajax({
				url: '/oficina/desambiguar',
				dataType: 'json',
				data: {
					'graph' : $("#graph").val(),
					'rules': $("#rules").val(),
					'name_author': $("#name_author").val(),
					'name_author_lev': $("#name_author_lev").val(),
				           	'name_article': $('#name_article').val(),
				           	'name_article_lev': $('#name_article_lev').val(),
				           	'name_conference': $('#name_conference').val(),
				           	'name_conference_lev': $('#name_conference_lev').val(),
				           	'vd' : $("#vd").val(),
				           	'rank': $("#rank").val(),
				           	'year': $("#year").val(),
				           	},
				success : function($data) {
					$('#aviso_titulo').html('Desambiguação Completa');
        					$('#aviso_mensagem').html('Desambiguação feita com sucesso!');
       			 		$('#aviso').modal('show');
		            		},
		            		error: function(xhr, ajaxOptions, thrownError) {
				}
			});
		}
	}

	function validate(){

		if($("#graph").val() == ''){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu um <b>grafo</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		if($("#rules").val().length > 1){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu um <b>critério</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		if($("#name_author").val().length  > 2){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o peso para <b>nome do autor</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		if($("#name_author_lev").val() == ''){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o valor de Levesthein para o <b>nome do autor</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		if($("#name_article").val().length  > 2){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o peso para <b>nome do artigo</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		if($("#name_article_lev").val() == ''){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o valor de Levesthein para o <b>nome do artigo</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}

		if($("#name_conference").val().length  > 2){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o peso para <b>nome do conferência</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		if($("#name_conference_lev").val() == ''){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o valor de Levesthein para o <b>nome do conferência</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}
		console.log
		if($("#year").val().length  > 2){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o peso do <b>ano</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}

		if($("#rank").val().length > 2){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu o peso para <b>ranking</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}

		if($("#vd").val().length > 2){
			$('#aviso_titulo').html('Campos incompletos');
            			$('#aviso_mensagem').html('Você não escolheu um peso para o <b>nível de desambiguação</b>.');
           			 $('#aviso').modal('show');
            			return 0;
		}

		return 1;
	}

</script>
